# データフォルダ
Data/
data_sort/
data_Tiff/
annotated_data/
runs/
inference_input/

# nnU-Net（モデルは大きいので手動でコピー）
nnUNet_raw/
nnUNet_preprocessed/
nnUNet_results/
nnUNet_predictions/

# 環境設定
.env
__pycache__/
*.pyc

# ポータブル版の除外設定
**/python311/
**/data_input/
**/annotated_data/
**/output/
**/manual_review/
*.exe
vc_redist*.exe
